<div class="form-group row">
  <div class="col-md-6">
    <label for="exampleFormControlSelect1">Seleccione Hospital</label>
    <select class="form-control" name="hospital" [(ngModel)]="visitNote.codeHospital" #hospital="ngModel" required (ngModelChange)="selectHospital()">
      <option *ngFor="let hospital of hospitalsApp" [ngValue]="hospital.code">{{hospital.name}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="exampleFormControlSelect1">Seleccione Especialidad</label>
    <select class="form-control" name="specialty" [(ngModel)]="visitNote.codeSpecialty" #specialty="ngModel" (ngModelChange)="selectSpecialty()">
      required>
      <option *ngFor="let specialty of listSpecialties" [ngValue]="specialty.code">{{specialty.name}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-6">
    <label for="exampleFormControlSelect1">Seleccione Doctor</label>
    <select class="form-control" name="doctor" [(ngModel)]="visitNote.codeDoctor" #doctor="ngModel" required>
      <option *ngFor="let doctor of listDoctors" [ngValue]="doctor.code">{{doctor.name}} {{doctor.lastName}}
      </option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="exampleFormControlSelect1">Seleccione Paciente</label>
    <select class="form-control" name="patient" [(ngModel)]="visitNote.codePatient" #patient="ngModel" required>
      <option *ngFor="let patient of patientsApp" [ngValue]="patient.code">{{patient.name}} {{patient.lastName}}
      </option>
    </select>
  </div>
</div>
<div class="form-group">
  <form [formGroup]="angForm" novalidate>
    <div class="form-group">
      <label>Observaciones:</label>
      <textarea  class="form-control" formControlName="observations" rows="3" [(ngModel)]="visitNote.observations" maxlength="150"></textarea>
    </div>
    <div
      *ngIf="angForm.controls['observations'].invalid && (angForm.controls['observations'].dirty || angForm.controls['observations'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['observations'].errors.required">
        Observaciones es Requerido
      </div>
    </div>
    <div class="form-group">
      <label>Receta Médica:</label>
      <textarea  class="form-control" formControlName="prescription" rows="3" [(ngModel)]="visitNote.prescription" maxlength="150"></textarea>
    </div>
    <div
      *ngIf="angForm.controls['prescription'].invalid && (angForm.controls['prescription'].dirty || angForm.controls['prescription'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['prescription'].errors.required">
        Receta Médica es Requerido
      </div>
    </div>
    <div class="form-group">
      <label>Fecha de Atención:</label>
      <input class="form-control" formControlName="dateCreation" type="date" [(ngModel)]="visitNote.dateCreation">
    </div>
    <div
      *ngIf="angForm.controls['dateCreation'].invalid && (angForm.controls['dateCreation'].dirty || angForm.controls['dateCreation'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['dateCreation'].errors.required">
        Fecha de Atención es Requerido
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" [disabled]="angForm.pristine || angForm.invalid"
        (click)="managerVisitNote()">{{operationType === 1 ? 'Crear'
        :
        'Modificar'}}</button>
      <button type="button" class="btn btn-outline-danger"
        (click)="operationType = 3; managerVisitNote(); ">Cancelar</button>
    </div>
  </form>
</div>

